*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-size: medium;
}

a {
    text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
    color: white;
}

header {
	display: flex;	
	width: 100%;
	background-color: rgb(16, 68, 53);
	justify-content: space-between;
	align-items: center;
}

.header-item-img {
	height: 100px;
}

.header-item-img > img {
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
	
}

.header-img-p {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-items-p1 {
	color: white;
}

.header-items-p2 {
	color: rgb(184, 118, 65);
	margin-right: 20px;

}

#flowers {
	font-family: Bradley Hand, cursive;
	color: rgb(184, 118, 65);
}

#slogan {
	font-weight: bold;
	color:  rgb(184, 118, 65);
}

section {
	max-width: 1200px;
	margin: 0 auto;
}

.grid-gallery {
	margin: 30px 30px 40px 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-gap: 30px;
}

.grid-gallery-items > img {
	width: 100%;
	height: 100%;
	object-fit: cover;	
}

.grid-gallery-items {
	position: relative;
}

.item-4 {
	grid-column: 1 / span 2;
	grid-row: 2 / span 1;
}

.item-11 {
	grid-column: 2 / span 2;
	grid-row: 4 / span 1;
}

.item-18 {
	grid-column: 2 / span 1;
	grid-row: 5 / span 2;
}

.item-20 {
	grid-column: 2 / span 2;
	grid-row: 8 / span 1;
}

.overlay {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgb(16, 68, 53);
	text-align: center;
	position: absolute;
	top: 99%;
	left: 50%;
	right: -50%;
	transform: translate(-50%, -50%);
}

.overlay > span {
	color: rgb(184, 118, 65);
	font-weight: bold;
}

footer {
	margin-bottom: 0;
	position: relative;
	padding: 10px;
	font-style: italic;
	font-size: 90%;
	width: 100%;
	color: white;
	text-align: center;
	background-color: rgb(32, 114, 82);
}

@media screen and (max-width: 850px) {
	section {
	max-width: 800px;
}

.grid-gallery {
	margin: 15px 15px 25px 15px;
	grid-gap: 25px;
}
	
}

@media screen and (max-width: 650px) {
	section {
	max-width: 600px;
}

.grid-gallery {
	grid-template-columns: repeat(2, 1fr);
}
.item-4 {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
}

.item-11 {
	grid-column: 2 / span 1;
	grid-row: 4 / span 1;
}

.item-18 {
	grid-column: 2 / span 1;
	grid-row: 5 / span 1;
}

.item-20 {
	grid-column: 2 / span 1;
	grid-row: 8 / span 1;
}
}

@media screen and (max-width: 600px) {
 header {
		flex-direction: column;
	}
	.header-img-p {
		flex-direction: column;
	}
	.header-item-img {
		height: 70px;
	}
	.header-items-p2 {
		margin-right: 0;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.header-items-p1 p a,
	.header-items-p2>p {
		font-size: 90%;
	}
	#flowers {
		font-size: 94%;
	}
	
	footer {
    font-size: 80%;
}
}


@media screen and (max-width: 480px) {
	
	section {
	max-width: 400px;
}
	
	.grid-gallery {
		display: flex;
		flex-direction: column;
		width: auto;
		height: auto;	
	}
	
}


